<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link type="image/png" rel="icon" href="../resources/img/logo.jpeg">
    <!--CSS bootstrap-->
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styless_ifco.css" media="screen,projection" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <header>
    </header>

    <main class="container ">
        <form method="post" id="save-form">
            <section class="bg-light container factura1 ">
                <h5 class="nfa">N°factura</h5>
                <h1 class="display-4 text titulofact">Factura</h1>
            </section>
            <div class="factura2">
                <div class="row">
                    <input class="hidden" style="visibility:hidden;" type="number" id="id_cliente" name="id_cliente">
                    <div class="col-lg-4">
                        <label for="nombre_cli" class="form-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="nombre" aria-label="First name" id="nombre_cli"
                            name="nombre_cli" required>
                    </div>
                    <div class="col-lg-4">
                        <label for="apellido_cli" class="form-label">Apellido</label>
                        <input type="text" class="form-control" placeholder="apellido" aria-label="Last name"
                            id="apellido_cli." name="apellido_cli" required>
                    </div>
                    <div class="col-lg-4">
                        <label for="direccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control" placeholder="Direccion" aria-label="Last name"
                            id="direccion" name="direccion">
                    </div>
                </div>
                <div class="clave">
                    <div class="row ">
                        <div class="col-lg-4">
                            <label for="mision" class="form-label">Nota de emicion </label>
                            <input type="text" class="form-control" placeholder="Nota de emicion" aria-label="Last name"
                                id="mision" name="mision">
                        </div>
                        <div class="col-lg-4">
                            <label for="condicion" class="form-label">Condiciones de pago </label>
                            <input type="text" class="form-control" placeholder="Condiciones de pago cambiar clave" aria-label="Last name"
                                id="condicion" name="condicion">
                        </div>
                        <div class="col-lg-3">
                            <label for="fecha" class="form-label">Fecha </label>
                            <input type="date" class="form-control" placeholder="Fecha" aria-label="Last name"
                                id="fecha" name="fecha">
                        </div>
                    </div>
                </div>
                <div class="clave">
                    <div class="row ">
                        <div class="col-lg-4">
                            <label for="giro" class="form-label">Giro</label>
                            <input type="text" class="form-control" placeholder="Giro" aria-label="Last name"
                                id="giro" name="giro">
                        </div>
                        <div class="col-lg-4">
                            <label for="DUI" class="form-label">Dui </label>
                            <input type="text" class="form-control" placeholder="Dui" aria-label="Last name"
                                id="DUI" name="DUI">
                        </div>
                        <div class="col-lg-4">
                            <label for="via" class="form-label">Via.a.Cta.de: </label>
                            <input type="text" class="form-control" placeholder="Via.a.Cta.de:" aria-label="Last name"
                                id="via" name="via">
                        </div>
                        <input class="hidden" style="visibility:hidden;" type="number" id="id_fiscal" name="id_fiscal">
                    </div>
                </div>
            </div>
            <section>
                <div class="container agrefact">
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <table class="table table-bordered table-hover" id="tab_logic">
                                <thead class="table-dark">
                                    <tr>
                                        <th class="text-center"> # </th>
                                        <th class="text-center"> codigo del producto </th>
                                        <th class="text-center"> Nombre del producto </th>
                                        <th class="text-center"> cantidad</th>
                                        <th class="text-center"> precio</th>
                                        <th class="text-center"> Total </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id='addr0'>
                                        <td>1</td>
                                        <td><input type="text" placeholder='codigo del producto' for="codigo01"
                                                class="form-control" id="codigo01" name="codigo01" /></td>
                                        <td><input type="text" placeholder='Nombre del producto' for="nombre_pro"
                                                class="form-control" id="nombre_pro" name="nombre_pro" />
                                        </td>
                                        <td><input type="number" placeholder='cantidad' class="form-control qty"
                                                step="0" min="0" for="cantidad" id="cantidad"
                                                name="cantidad" /></td>
                                        <td><input type="number" placeholder='Precio unidad' class="form-control price"
                                                step="0.01" min="0.01" for="precio_u" id="precio_u" name="precio_u" />
                                        </td>
                                        <td><input type="number" placeholder='0.00' class="form-control total"
                                                for="total" id="total" name="total" />
                                        </td>
                                    </tr>
                                    <tr id='addr1'></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-md-12">
                            <a id="add_row" class="pull-right btn btn-default btngt colorfact">agregar
                                producto</a>
                            <a id='delete_row' class="pull-right btn btn-default btngt colorfact">eliminar
                                producto</a>
                        </div>
                    </div>
                    <div class="row clearfix" style="margin-top:20px">
                        <div class="pull-right col-md-4">
                            <button type="submit" class="pull-right btn btn-default btngt colorfact">guardar
                                factura</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </main>
    <footer>

    </footer>
    <!--JS bootstrap-->
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../resources/js/funcionalida.js"></script>
    <script src="../controllers/credito.js"></script>
    <script src="../controllers/acounst.js"></script>
</body>

</html>