<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="image/png" rel="icon" href="../resources/img/logo.jpeg">
  <!--CSS bootstrap-->
  <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styless_ifco.css" media="screen,projection" />
</head>

<body>
  <header>
</header>

  <main class="bg-light container factura1 ">
    <h5 class="nfa">N°factura</h5>
     <h1 class="display-4 text titulofact">Factura</h1>
  </main>
  <main class="container factura2">
    <div class="row">
      <div class="col-lg-4">
        <label for="formGroupExampleInput" class="form-label">Nombre</label>
        <input type="text" class="form-control" placeholder="nombre" aria-label="First name">
      </div>
      <div class="col-lg-4">
        <label for="formGroupExampleInput" class="form-label">Dui</label>
        <input type="text" class="form-control" placeholder="Dui" aria-label="Last name">
      </div>
      <div class="col-lg-4">
        <label for="formGroupExampleInput" class="form-label">Direccion</label>
        <input type="text" class="form-control" placeholder="Direccion" aria-label="Last name">
      </div>
    </div>
    <div class="clave">
      <div class="row ">
        <div class="col-lg-4">
          <label for="formGroupExampleInput" class="form-label">Venta a cuenta de </label>
          <input type="text" class="form-control" placeholder="" aria-label="First name">
        </div>
        <div class="col-lg-4">
          <label for="formGroupExampleInput" class="form-label">Fecha </label>
          <input type="text" class="form-control" placeholder="fecha" aria-label="Last name">
        </div>
      </div>
    </div>
  </main>        

    <!------ Include the above in your HEAD tag ---------->

    <div class="container agrefact">
      <div class="row clearfix">
        <div class="col-md-12">
          <table class="table table-borderless agretab" id="tab_logic">
            <thead class="table-dark">
              <tr>
                <th class="text-center"> # </th>
                <th class="text-center"> codigo</th>
                <th class="text-center"> cantidad</th>
                <th class="text-center"> Precio unidad </th>
                <th class="text-center"> Total </th>
                <TH>acciones</TH>
              </tr>
            </thead>
            <tbody>
              <tr id='addr0'>
                <td>1</td>
                <td><input type="text" name='product[]' placeholder='codigo' class="form-control" /></td> 
                <td><input type="number" name='product[]' placeholder='cantidad' class="form-control" min="1" max="99" /></td> 
                <td><input type="number" step="0.01" min="0.01" name='product[]' placeholder='0.00' class="form-control"/></td> 
                <td><input type="number" name='total[]' placeholder='0.00' class="form-control total" readonly /></td>
                <td><button id="add_row" class="btn btn-default pull-left btnr7"><a href="" class="agrebtn">agregar</a></button></td>
              </tr>
            </tbody>
          </table>                 
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-md-12">
          <button id='delete_row' class="pull-right btn btn-default btngt colorfact">guardar factura</button>
              <a href="credito.html"  class="btn btngt  colorfact">credito fiscal</a>
        </div>
      </div>
    </div>

  </section>
  <footer></footer>

  <!--JS bootstrap-->
  <script src="../resources/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../controllers/components.js"></script>
  <script src="../controllers/acounst.js"></script>
</body>

</html>