<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graficas</title>
    <link type="image/png" rel="icon" href="../resources/img/logo.jpeg">
    <!--CSS bootstrap-->
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styless_ifco.css" media="screen,projection" />
</head>

<body>
    <header>
    </header>

    <main class="container-xl">
        <div class="row">
            <div class="col s12 m6 gg">
                <!-- Se muestra un gráfico de pastel con el porcentaje de productos por categoría -->
                <canvas id="chart7"></canvas>
            </div>
            <div class="col s12 m6 gg">
                <!-- Se muestra un gráfico de pastel con el porcentaje de productos por categoría -->
                <canvas id="chart2"></canvas>
                <button value="0" id="factu" onclick="ventaspormes() " type="button" class="btn btn-success">vista de
                    credito</button>
            </div>
            <div class="row">
                <div class="col s12 m6 gg">
                    <!-- Se muestra un gráfico de barra con la cantidad de productos por categoría -->
                    <canvas id="chart1"></canvas>
                </div>
                <div class="col s12 m6 gg">
                    <!-- Se muestra un gráfico de pastel con el porcentaje de productos por categoría -->
                    <canvas id="chart4"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 gg">
                    <!-- Se muestra un gráfico de barra con la cantidad de productos por categoría -->
                    <canvas id="chart3"></canvas>
                    <button value="0" id="ventas" onclick="clientesConmasCompras() " type="button" class="btn btn-success">vista de
                        credito</button>
                </div>
                <div class="col s12 m6 gg">
                    <!-- Se muestra un gráfico de pastel con el porcentaje de productos por categoría -->
                    <canvas id="chart6"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6 gg">
                    <!-- Se muestra un gráfico de barra con la cantidad de productos por categoría -->
                    <canvas id="chart5"></canvas>
                </div>
                <div class="col s12 m6 gg">
                    <!-- Se muestra un gráfico de barra con la cantidad de productos por categoría -->
                    <canvas id="chart8"></canvas>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    </main>
    <!-- inicio primera viñeta-->
    <!-- final primer viñeta-->
    <footer></footer>
    <!--JS bootstrap-->
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../controllers/acounst.js"></script>
    <script src="../controllers/main.js"></script>

</body>

</html>