<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graficas</title>
    <link type="image/png" rel="icon" href="../resources/img/logo.jpeg">
    <!--CSS bootstrap-->
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styless_ifco.css" media="screen,projection" />
</head>

<body>
    <header>
    </header>
    <main>
        <!-- inicio primera viñeta-->
           <!-- final primer viñeta-->
    <footer></footer>
    <!--JS bootstrap-->
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../controllers/acounst.js"></script>
    
</body>

</html>