<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>credito</title>
    <!--CSS bootstrap-->
    <link type="image/png" rel="icon" href="../resources/img/logo.jpeg">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styless_ifco.css" media="screen,projection" />
</head>

<body>
    <header>
    </header>
    <main>
        <h1 class="titul"> Visualizacion credito fiscal</h1>
        <div class="container-lg">
            <div class="historial">
                <nav class="navbar ">
                    <div class="container-fluid">
                      <form autocomplete="off" class="d-flex" role="search" method="post" id="search-form">
                        <input class="form-control me-2" type="search" name="search" id="search" placeholder="Buscar por nombre del cliente ..." aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>
                <table class="table aria-label">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" class="texte">NOMBRE</th>
                            <th scope="col" class="texte">FECHA</th>
                            <th scope="col" class="texte">VISTA</th>
                        </tr>
                    </thead>
                    <tbody id="historial-tabla"></tbody>
                </table>
                <div class="modal fade " id="detalle" tabindex="-1" aria-labelledby="detalleLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Detalle pedido</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <table class="table border table-bordered">
                                    <!--Cabeza de la tabla para mostrar los títulos de las columnas-->
                                    <thead class="table-dark" >
                                        <tr>
                                            <th class="text-center">NOMBRE</th>
                                            <th class="text-center">DESCRIPCION</th>
                                            <th class="text-center">PRECIO</th>
                                            <th class="text-center">CANTIDAD</th>
                                            <th class="text-center">SUB-TOTAL</th>
                                        </tr>
                                    </thead>
                                    <!--Cuerpo de la tabla para mostrar un registro por fila -->
                                    <tbody id="tbody-rows-detalle"></tbody>
                                </table>
                                <div class="d-flex justify-content-end">Total (US$) <b id="total"></b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
    </main>
    <section></section>
    <footer></footer>
    <!--JS bootstrap-->
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../controllers/acounst.js"></script>
    <script src="../controllers/historialcre.js"></script>
</body>

</html>