<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link type="image/png" rel="icon" href="../resources/img/logo.jpeg">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styless_ifco.css" media="screen,projection" />
    <title>IFCO - Inició de sesión</title>
</head>
<body>
    <!-- Nav de la página web -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-dark">
            <div class="container-fluid">
                <img src="../resources/img/logo.jpeg" height="80">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="login.html">login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Cuerpo de la página web -->
    <main>
        <!-- Contenedor principal -->
        <form autocomplete="off" method="post" id="session-form">
            <div class="container-lg cuerpo">
                <div class="row ">
                    <div class="col-12">
                        <h5 class="letrat">Iniciar Sesión</h5>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <img src="../resources/img/logologin.jpeg" class="logoc">
                    </div>
                    <div class="col-md-6 col-sm-12 campos">
                        <h5 class="letrac">Correo</h5>
                        <div class="input-group">
                            <input id="correo" type="email" name="correo" class="form-control espacioc" required>
                        </div>
                        <h5 class="letrac">Contraseña</h5>
                        <div class="input-group">
                            <input id="clave" type="password" name="clave" class="form-control" required>
                        </div>
                        <div class="recuperart"><a class="recuperar" href="recuperar_contrasena.html">Olvidaste tu
                                contraseña</a></div>
                        <button type="submit" class="btn botondise" data-tooltip="Registrar">Registrar</button>
                </div>
            </div>
        </form>
    </main>
    <!-- Footer de la página web -->
    <footer>
        <div class="container-fluid footerc">
            <p class="letraf2">
                @2022 Mockup. Todos los derechos reservados
            </p>
        </div>
    </footer>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../controllers/login.js"></script>
</body>

</html>