<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>
    <!--CSS bootstrap-->
    <link type="image/png" rel="icon" href="../resources/img/logo.jpeg">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styless_ifco.css" media="screen,projection" />
</head>

<body>
    <header>
    </header>
    <h1 class="titul">Inventario</h1>
    <section class="container-xl tamaño">
        <div class="row">
            <div class="col">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Agregar Producto
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <input class="hidden" style="visibility:hidden;" type="number" id="id_usuario" name="id_usuario">
                                    <div class="col-lg-6">
                                        <label for="nombre" class="form-label">Nombre</label>
                                        <input id="nombre" type="text" name="nombre" class="form-control" placeholder="" aria-label="">
                                    </div>
                                    <div class="col-lg-6">
                                        <label for="cantidad" class="form-label">Cantidad</label>
                                        <input id="cantidad" type="number" name="cantidad" min="1" max="99" class="form-control" placeholder="" aria-label="">
                                    </div>
                                </div>
                                <div class="clave">
                                    <div class="row ">
                                        <div class="col-lg-6">
                                            <label for="descripcion" class="form-label">Descripcion</label>
                                            <input id="descripcion" type="text" name="descripcion"class="form-control" placeholder=""
                                                aria-label="First name">
                                        </div>
                                        <div class="col-lg-6">
                                            <label for="categoria" class="form-label">Marca</label>
                                            <select class="form-select" id="marca" name="marca"
                                                aria-label="Floating label select example">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-lg-6">
                                            <label for="precio" class="form-label">Precio (US$)</label>
                                            <input id="precio" type="number" name="precio" step="0.01" class="form-control" placeholder=""
                                                aria-label="First name">
                                        </div>
                                        <div class="col-lg-6">
                                            <p>
                                                <div class="switch">
                                                    <span>Estado:</span>
                                                    <label>
                                                        <input id="estado" type="checkbox" name="estado" checked>
                                                        <span class="lever"></span>
                                                    </label>
                                                </div>
                                                </p>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#marca">
                    Agregar Marca
                </button>

                <!-- Modal -->
                <div class="modal fade" id="marca" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Agregar Marca</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <label for="formGroupExampleInput" class="form-label">Nombre de la Marca</label>
                                        <input type="text" class="form-control" placeholder="" aria-label="Last name">
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-lg-5">
                                        <label for="formGroupExampleInput" class="form-label">Tipo de Producto</label>
                                        <select class="form-select" id="floatingSelect"
                                            aria-label="Floating label select example">
                                            <option selected></option>
                                            <option value="1"></option>
                                            <option value="2"></option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tipopro">
                    Agregar Tipo de Producto
                </button>

                <!-- Modal -->
                <div class="modal fade" id="tipopro" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Agregar Tipo de Producto</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <label for="formGroupExampleInput" class="form-label">Tipo de Producto</label>
                                        <input type="text" class="form-control" placeholder="" aria-label="Last name">
                                    </div>
                                </div>
                                <br>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <main class="container-xl">
        <section class="container-xl">
            <div class="contenedortbad">
                <ul class="nav nav-pills mb-3 tabs" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                            aria-selected="true">Productos</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                            aria-selected="false">Marcas</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                            aria-selected="false">Tipos de Producto</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="Listas">
                            <nav class="navbar ">
                                <div class="container-fluid">
                                  <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-primary" type="submit">Guardar</button>
                                  </form>
                                </div>
                              </nav>
                            <table class="table table-borderless">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">nombre</th>
                                        <th scope="col">cantidad</th>
                                        <th scope="col">descripcion</th>
                                        <th scope="col">estado</th>
                                        <th scope="col">marca</th>
                                        <th scope="col">tipo producto</th>
                                        <th scope="col">precio unitario</th>
                                    </tr>
                                </thead>
                                <!--Relleno cada columna con datos temporales con el siguiente orden-->
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="Listas">
                            <nav class="navbar ">
                                <div class="container-fluid">
                                  <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-primary" type="submit">Guardar</button>
                                  </form>
                                </div>
                              </nav>
                            <table class="table table-borderless">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">tipo</th>
                                        <th scope="col">proveedor</th>
                                    </tr>
                                </thead>
                                <!--Relleno cada columna con datos temporales con el siguiente orden-->
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"
                        tabindex="0">
                        <div class="Listas">
                            <nav class="navbar ">
                                <div class="container-fluid">
                                  <form class="d-flex" role="search">
                                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-primary" type="submit">Guardar</button>
                                  </form>
                                </div>
                              </nav>
                            <table class="table table-borderless">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Nombre del tipo</th>
                                    </tr>
                                </thead>
                                <!--Relleno cada columna con datos temporales con el siguiente orden-->
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...
            </div>
<footer></footer>
            <!--JS bootstrap-->
            <script src="../resources/js/bootstrap.min.js"></script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="../controllers/components.js"></script>
            <script src="../controllers/acounst.js"></script>
</body>

</html>