<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listados</title>
    <!--CSS bootstrap-->
    <link type="image/png" rel="icon" href="../resources/img/logo.jpeg">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styless_ifco.css" media="screen,projection" />
</head>

<body>
    <!--Se agrega esa clase extraida de Boostrap5 para fijar el navbar-->
    <header>
    </header>
    <h1 class="titul">Lista de usuarios</h1>
    <div class="separa">
        <main class="container-xl">
            <section class="container-xl">
                <div class="contenedortbad">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                            aria-labelledby="pills-home-tab">
                            <div class="Listas">
                                <nav class="navbar ">
                                    <div class="container-fluid">
                                        <form autocomplete="off" class="d-flex" role="search" method="post"
                                            id="search-form">
                                            <input class="form-control me-2" type="search" placeholder="Search"
                                                aria-label="Search" name="search" id="search">
                                            <button class="btn btn-outline-primary" type="submit">Search</button>
                                        </form>
                                    </div>
                                </nav>
                                <table class="table table-borderless">
                                    <thead class="table-dark">
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Apellido</th>
                                            <th scope="col">Correo</th>
                                            <th scope="col">acciones</th>
                                        </tr>
                                    </thead>
                                    <!--Relleno cada columna con datos temporales con el siguiente orden-->
                                    <tbody id="usuarios-tabla">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-contact" role="tabpanel"
                            aria-labelledby="pills-contact-tab">...
                        </div>
                    </div>

        </main>
    </div>
    <footer></footer>
    <!--JS bootstrap-->
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a478d5fd56.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../controllers/usuarios.js"></script>
    <script src="../controllers/acounst.js"></script>
</body>

</html>