<!doctype html>
<html lang="ES">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Recuperar</title>
        <!--CSS bootstrap-->
        <link type="image/png" rel="icon" href="../resources/img/logo.jpeg">
        <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="../resources/css/styless_ifco.css" media="screen,projection" />
    </head>

<body>

    <!-- Nav de la página web -->
    <header>
    </header>
    <main>
        <div class="Primar">
            <div class="signupFrm">
                <div class="wrapper">
                    <h1 class="title">Recupercion De La Clave</h1>
                        <h2 class="title">Paso III</h2>
                    <form autocomplete="off" method="post" id="recu-form">
                        <label>Escriba la nueva clave</label>
                        <div class="inputContainer">
                            <input id="clave" type="password" name="clave" class="input" required>
                        </div>
                        <label>Reescriba la nueva clave</label>
                        <div class="inputContainer">
                            <input id="clave2" type="password" name="clave2" class="input" required>
                        </div>
                        <input type="submit" class="submitBtn" value="Registrar">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../controllers/acounst.js"></script>
</body>

</html>