<!doctype html>
<html lang="ES">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link type="image/png" rel="icon" href="../resources/img/logo.jpeg">
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styless_ifco.css" media="screen,projection" />
    <title>Primer Registro</title>
</head>

<body>
    <!-- Nav de la página web -->
    <header>
    </header>
    <main>
        <div class="Primar">
            <div class="signupFrm">
                <div class="wrapper">
                    <form autocomplete="off" method="post" id="register-form" >
                        <h1 class="title">Primer Usuario</h1>

                        <div class="inputContainer">
                            <input id="nombres" type="text" name="nombres" class="input" required>
                            <label for="nombres" class="label">Nombre</label>
                        </div>

                        <div class="inputContainer">
                            <input id="apellidos" type="text" name="apellidos" class="input" required>
                            <label for="apellidos" class="label">Apellido</label>
                        </div>

                        <div class="inputContainer">
                            <input id="correo" type="email" name="correo" class="input" required>
                            <label for="correo" class="label">Email</label>
                        </div>

                        <div class="inputContainer">
                            <input id="clave" type="password" name="clave" class="input" required>
                            <label for="clave" class="label">Clave</label>
                        </div>

                        <div class="inputContainer">
                            <input id="confirmar" type="password" name="confirmar" class="input" required>
                            <label for="confirmar" class="label">Confirme Clave</label>
                        </div>

                        <input type="submit" class="submitBtn" value="Registrar">
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
    </footer>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../controllers/acounst.js"></script>
    <script src="../controllers/signup.js"></script>
</body>

</html>