<!doctype html>
<html lang="ES">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../resources/css/styless_ifco.css" media="screen,projection" />
    <title>Primer Registro</title>
</head>

<body>
    <!-- Nav de la página web -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-dark">
            <div class="container-fluid">
                <img src="../resources/img/logo.jpeg" height="80">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="login.html">login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="Primar">
            <div class="signupFrm">
                <div class="wrapper">
                    <form method="post" id="register-form">
                        <h1 class="title">Primer Usuario</h1>

                        <div class="inputContainer">
                            <input type="text" class="input" placeholder="a">
                            <label for="" class="label">Nombre</label>
                        </div>

                        <div class="inputContainer">
                            <input type="text" class="input" placeholder="a">
                            <label for="" class="label">Apellido</label>
                        </div>

                        <div class="inputContainer">
                            <input type="email" class="input" placeholder="a">
                            <label for="" class="label">Email</label>
                        </div>

                        <div class="inputContainer">
                            <input type="password" class="input" placeholder="a">
                            <label for="" class="label">Clave</label>
                        </div>

                        <div class="inputContainer">
                            <input type="password" class="input" placeholder="a">
                            <label for="" class="label">Confirme Clave</label>
                        </div>

                        <input type="submit" class="submitBtn" value="Registrar">
                    </form>
                </div>
            </div>
        </div>

    </main>
    <footer>
        <div class="container-fluid footerc">
            <p class="letraf2">
                @2022 Mockup. Todos los derechos reservados
            </p>
        </div>
    </footer>
    <script src="../resources/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="../controllers/components.js"></script>
    <script src="../controllers/login.js"></script>
</body>

</html>